<div class="container">
    <form class="form-inline" method="post" action="../search/show">
        <div id="inputs">
            <div id="each_input">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" name="place[]">
                </div>
                <div class="checkbox">
                    <label>車
                        <input type="checkbox" name="car_chk[]">
                    </label>
                </div>
            </div>
        </div>

        <button class="btn btn-default btn-sm" type="button" id="addInput">+</button>
        <button type="submit" class="btn btn-default btn-sm">Submit</button>
    </form>
</div>
